<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDb CRUD</title>
</head>
<body>
    <h1>Mongo Db Crud Example </h1>
    {{message}}
    <ul>

        {{#each employees}}
        <li>{{this.title}} -{{this.author}}</li>
        {{/each}}
    </ul>
</body>
</html>